<!-- employee_dashboard.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if message %}
        <script type="text/javascript">
            window.onload = function() {
                alert("{{ message }}");
            };
        </script>
        <!-- Clear the session message after showing the alert -->
        {% request.session.pop('message') %}
    {% endif %}

    <h1>Welcome, Employee!</h1>
    <a href="{% url 'attendance_report' %}?user_id={{ request.user.id }}">
        <button>Generate Attendance Report</button>
    </a>
    <a href="{% url 'logout'%}">
        <button>Logout</button>
    </a>
</body>
</html>
