<!-- superuser_dashboard.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Superuser Dashboard</title>
</head>
<body>
    {% if message %}
        <script type="text/javascript">
            window.onload = function() {
                alert("{{ message }}");
            };
        </script>
        <!-- Clear the session message after showing the alert -->
        {% request.session.pop('message') %}
    {% endif %}

    <h1>Welcome, Superuser!</h1>
    <a href="{% url 'manage_attendance' %}">
        <button>Manage Attendance</button>
    </a>

    <a href="{% url 'employee_attendance_report' %}">
        <button>Generate Employee Attendance Report</button>
    </a>
    <a href="{% url 'logout'%}">
        <button>Logout</button>
    </a>

</body>
</html>
