<!-- superuser_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superuser Dashboard</title>
</head>
<body>
    <h1>Welcome, Superuser!</h1>
    <a href="{% url 'manage_attendance' %}">
        <button>Manage Attendance</button>
    </a>

    <a href="{% url 'employee_attendance_report' %}">
        <button>Generate Employee Attendance Report</button>
    </a>
    <a href="{% url 'logout'%}">
        <button>Logout</button>
    </a>

</body>
</html>
